<h1>Listing Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Profession</th>
      <th>Salary</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for employee <- @employees do %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.age %></td>
      <td><%= employee.sex %></td>
      <td><%= employee.profession %></td>
      <td><%= employee.salary %></td>

      <td>
        <span><%= button "Edit", class: "btn blue", method: "get", to: Routes.employee_path(@conn, :edit, employee) %></span>
        <span><%= button "Delete", class: "btn red", to: Routes.employee_path(@conn, :delete, employee), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<div style="margin-top: 10px">
  <%= button "Back", to: Routes.company_path(@conn, :index), method: "get", class: "btn grey" %>
  <%= button "New Employee", method: "get", class: "btn", to: Routes.employee_path(@conn, :new) %>
</div>