<h1>Show Employee</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @employee.name %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @employee.age %>
  </li>

  <li>
    <strong>Sex:</strong>
    <%= @employee.sex %>
  </li>

  <li>
    <strong>Profession:</strong>
    <%= @employee.profession %>
  </li>

  <li>
    <strong>Salary:</strong>
    <%= @employee.salary %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.employee_path(@conn, :edit, @employee) %></span> |
<span><%= link "Back", to: Routes.employee_path(@conn, :index) %></span>
